.caroussel{
    top: 50px;
    z-index: 10;
    position: relative;
    height: 250px;
    max-width: 100%;
    background-color: black;
}
.caroussel__image{
    height: 100%;
    object-fit: cover;
}
.caroussel__track-container{
    height: 100%;
    position: relative;
    overflow : hidden;
}
.caroussel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 400ms ease-in;
}
.caroussel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.caroussel__button{
    z-index: 50;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer;
}
.caroussel__button--left{
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.8);
    left: 10px;
}
.caroussel__button--right{
    box-shadow: 0 0 50px 8px rgba(255, 255, 255, 0.8);
    right : 10px;
}
.caroussel__button--right > img{
    position: absolute;
    left: 5px;
    bottom: 4px;
    width: 32px;
    height: 32px;
}
.caroussel__button--left > img{
    position: absolute;
    left: 3px;
    bottom: 4px;
    width: 32px;
    height: 32px;
}

.caroussel__nav{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: .5em;

}
.caroussel__indicator{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 0 .30em;
    background-color: rgba(0, 0, 0, .3);
    cursor:pointer;
}

@media (min-width: 30em) {
    .caroussel__indicator{
        height: 20px;
        width: 20px;
        margin: 0 .20em;
    }
}
.caroussel__indicator.current-slide{
    background-color: rgba(91, 155, 238, 0.8);
}

.is-hidden{
    display: none;
}