.caroussel{
    position: relative;
    height: 250px;
    margin: auto;
}
.caroussel__image{
    height: 100%;
}
.caroussel__track-container{
    background-color: white;
    height: 100%;
    position: relative;
    border-radius: 20px;
}
.caroussel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    animation: 20ms;
    overflow: hidden;
    transition: transform 1000ms ease-in;
}
.caroussel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: fit-content;
}
.caroussel__button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    border: none;
    top: 50%;
    transform: translateY(-50%);
}
.caroussel__button--left{
    left: 0;
    z-index: 1;
}
.caroussel__button--right{
    right : 0;
    z-index: 1;
}
.caroussel__button img{
    width: 32px;
    height: 32px;
}
.caroussel__nav{
    display: flex;
    justify-content: center;
    margin: 2px 0;
}
.caroussel__indicator{
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 50%;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, .5);
}
.caroussel__indicator.current-slide{
    background-color: rgba(0, 0, 0, .8);
}