:root{
    --clr-bg-primary: white;
    --clr-bg-secondary: rgb(153, 180, 255);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-weight: 400;
    font-size: 1.312rem;
    line-height: 1.6;
}

section{
    padding: 3rem 0;
}

img {
    display: block;
    max-width: 100%;
}
.split{
    display: flex;
    flex-direction: column;
}
.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.text-center{
    text-align: center;
}

@media (min-width: 400em){
    .split{
        flex-direction: column;
    }
    .split > * {
        flex-basis: 100%;
    }
}

body,
h1,
h2,
h3,
p{
    margin:0;
}

.bg-primary{ background-color: var(--clr-bg-primary);}