header{
    background-color: orange;
    padding-left: 5%;
    padding-right: 2%;
    height: 8vh;
}
.menu{
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
}
button {
    border:none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button-contact{
    padding: 10px 20px;
    background-color: red;
    border-radius: 50px;
}

button:hover{
    background-color: black;
    color: white;
}

.logo_focus{
    background-color: blue;
    cursor: pointer;
    max-height: 9vh;
}

.nav{
    width: 500px;
    height: 100%;
    background-color: red;
}
.nav__links{
    display: inline-block;
}
/* .nav__links{
    list-style:circle;
}

.nav__links li{
    display: inline-block;
    padding: 0 2rem;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: red
} */